<p id="notice"><%= notice %></p>

<h1>Huts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @huts.each do |hut| %>
      <tr>
        <td><%= hut.name %></td>
        <td><%= hut.level %></td>
        <td><%= link_to 'Show', hut %></td>
        <td><%= link_to 'Edit', edit_hut_path(hut) %></td>
        <td><%= link_to 'Destroy', hut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hut', new_hut_path %>
