<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hut.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @hut.level %>
</p>

<%= link_to 'Edit', edit_hut_path(@hut) %> |
<%= link_to 'Back', huts_path %>
